.container{
    text-align: center;
    margin: auto;
    position: relative;
    padding: 16px;
}

.drawDiv{
    height: 512px;
    width: 512px;
    text-align: center;
    padding-left: 25%;
}


* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


body{
    background-color: #6b6a6a;
}

h1{
    color: #e0dddd;   
}
p{
    color:#04AA6D;
    padding: 0px 0px 0px 50%;
    background-color: white;
    border: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424141;
}

.column {
    float: left;
    width: 33.33%;
    height: 100%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}


li {
    float: left;
    /* border-right:1px solid #bbb; */
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.commandments{
    /* width: 50%; */
    /* display: block; */
    padding: 0px 0px 0px 30%;
    float: none;
    background-color: white;
    float: center;
    text-align: justify;
    border: none;
    
} 
input {
    border: none;
    background-color: transparent;
 }


button {
    font-size: 30px;
    border-radius: 12px;
    background-color: #dae2df;
    padding: 10px;
    margin: 5px;
    /* width: 10%; */
  }
#color{
    border: none; 
    border-width: 0; 
    box-shadow: none;
        
      }


/* Full-width input fields */
input[type=text], input[type=password] {
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  .button-login {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    /* width: 40%; */
    border-radius: 50%;
  }
  

  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 0% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }
      
.testttt{
    background-color: red;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  text-align: center;
  opacity: 1; /* Firefox */
}


#clear{
  background-color: #ce0101;
}

.fileSaver{
  padding: 90px;
  text-align: center;
}
