.container{
    text-align: center;
    margin: auto;
    position: relative;
}

.drawDiv{
    height: 512px;
    width: 512px;
    text-align: center;
    padding-left: 25%;
}


* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


body{
    background-color: #575656;
}

h1{
    color: #e0dddd;   
}
p{
    color:#04AA6D;
    padding: 0px 0px 0px 50%;
    background-color: white;
    border: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f1e1e;
}

* {
    box-sizing: border-box;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    /* padding: 10px; */
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.commandments{
    /* width: 50%; */
    /* display: block; */
    padding: 0px 0px 0px 30%;
    float: none;
    background-color: white;
    float: center;
    text-align: justify;
    border: none;
    
} 
input {
    border: none;
    background-color: transparent;
 }


button {
    font-size: 30px;
    border-radius: 12px;
    background-color: #dae2df;
    padding: 10px;
    margin: 5px;
}
#color{
    border: none; 
    border-width: 0; 
    box-shadow: none;
        
      }

